---
import Welcome from "../components/Welcome.astro";
import Layout from "../layouts/Layout.astro";

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
    <section>
        <img src="D60286.jpg" alt="background" width="200" height="auto" />
        <div>
            <p>UNITS / CORE COLLECTION</p>
        </div>
        <div>
            <button>EXPLORE COLLECTION</button>
            <p>By artists, for artists.</p>
        </div>
    </section>

    <section>
        <div>
            <img
                src="shirt1.jpg"
                alt="oversized shirt"
                width="200"
                height="auto"
            />
        </div>

        <div>
            <p>ARCHIVE 01</p>
            <p>EVERYDAY URBAN AESTHETICS</p>
            <p>Not just top quality, we make what you wear feel special.</p>
        </div>
    </section>
</Layout>
