---
import Welcome from "../components/Welcome.astro";
import Layout from "../layouts/Layout.astro";

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
    <section>
        <img src="/D60286.jpg" alt="background" width="200" height="auto" />
        <div class="flex justify-center">
            <p class="font-serif text-7xl" >UNITS / CORE COLLECTION</p>
        </div>
        <div class="flex justify-center flex-col items-center">
            <button class="font-light bg-black scale -50 text-white px-10 py-3">EXPLORE COLLECTION</button>
            <p class="font-serif">By artists, for artists.</p>
        </div>
    </section>

    <section class="flex items-center">
        <div>
            <img
                src="/shirt1.jpg"
                alt="oversized shirt"
                width="200"
                height="auto"
            />
        </div>

        <div>
            <p class="font-sans">ARCHIVE 01</p>
            <p class="font-serif text-5xl">Every day urban aesthetics</p>
            <p class="font-serif text-sm">Not just top quality, we make what you wear feel special.</p>
        </div>
    </section>

    <section>
        <div class="flex justify-center">
            <p class="font-serif text-2xl">
                "A wardrobe should be intentional, made of pieces that endure,
                not trends that fade."
            </p>
        </div>
    </section>

    <section class="flex justify-center gap-50">
        <div>
            <p class="font-light">ORIGIN</p>
            <p class="font-sans">Kyoto, JP</p>
        </div>

        <div>
            <p class="font-light">MATERIAL</p>
            <p class="font-sans">Refined Wool</p>
        </div>

        <div>
            <p class="font-light">STANDARD</p>
            <p class="font-sans">Crafted to Last</p>
        </div>
    </section>
</Layout>
