---
import Products from "../components/Products.astro";
import Layout from "../layouts/Layout.astro";
import tops from "../data/tops";
---

<Layout>

<section class="flex flex-col gap-10">
        <div class="flex justify-center gap-10">
            {tops.map((producto) => (
                <Products
                    titulo={producto.titulo}
                    imagen={producto.imagen}
                    id={producto.id}
                    category="tops"
                />
            ))}
        </div>
    </section>
    
</Layout>