---
import { Icon } from 'astro-icon/components'
import "../styles/global.css";
---
<!doctype html>
<html lang="en">
	<body>
		<header>
			<a href="/">UNITS</a>
			<div>
				<a href="/pants">PANTS</a>
				<a href="/Tops">TOPS</a>
				<a href="/shopall">SHOP ALL</a>
			</div>
			<div>
				<Icon name="tabler--shopping-bag" size={40} />
			</div>
		</header>
		<slot />
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>
